<%- include('../partials/header'); %>
  <div class="main-container">

    <h1 class="headTitle">Donate Books Details</h1>
    <div class="textDetail">
      <input class="detailText" type="text" placeholder="Title">
      <input class="detailText" type="text" placeholder="Pick up From">
      <input class="detailText" type="text" placeholder="Book Type">
      <input class="detailText" type="text" onfocus="(this.type='Date')" onblur="(this.type='text')"
        placeholder="Pick up Date">
      <input class="detailText" type="text" placeholder="No. of Books">
      <input class="detailText" type="text" onfocus="(this.type='Time')" onblur="(this.type='text')" placeholder="Time">
      <textarea id="textarea" class="detailText" type="text" placeholder="Description" rows="4" cols="50"></textarea>
    </div>
    <div class="btn-primary">
      <button type="submit" class="btn-sub">Submit</button>
    </div>
  </div>
  <%- include('../partials/footer'); %>