<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Home</title>
</head>
<body>

    <div class="topnav" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <div class="dropdown">
          <button class="dropbtn">Donate 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/book">Book Donate</a>
            <a href="/shelter">Shelter Donate</a>
            <a href="/food">Food Donate</a>
            <a href="/clothes">Clothes Donate</a>
          </div>
        </div> 
        <a id="login" href="/login">Login</a>
        <a id="register" href="/register">Register</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
      
      <div class="top-container">
        <p class="donate">DONATE FOR BRIGHT FUTURE</p>
      </div>
      <div class="main-container">
        <div class="bottom-container">
          <div class="bottom-sec">
            <div class="card">
              <img class="Imge" src="https://api.iconify.design/la/money-bill-wave.svg" alt="cash-img">
            </div>
            <div class="card-content">
              <p class="name">GIVE NOW</p>
              <p class="name">Take action by making a tax-deductible donation to invisible Children</p>
              <a class="btn">MAKE A ONE-TIME DONATION</a>
            </div>
          </div>
          <div class="bottom-sec">
            <div class="card">
              <img class="Imge" src="https://api.iconify.design/simple-line-icons/calender.svg" alt="calender-img">
            </div>
            <div class="card-content">
              <p class="name">GIVE MONTHLY</p>
              <p class="name">Donate to Invisible Children on a monthly basis and become a fourth Estate Member</p>
              <a class="btn">GIVE MONTHLY</a>
            </div>
          </div>
          <div id="bottom-sec3" class="bottom-sec">
            <div class="card">
              <img class="Imge" src="https://api.iconify.design/mdi/bag-personal.svg" alt="bag-img">
            </div>
            <div class="card-content">
              <p class="name">GIVE A SCHOLARSHIP</p>
              <p class="name">Take action by making a tax-deductible donation to invisible Children</p>
              <a class="btn">PROVIDE A SCHOLARSHIP</a>
            </div>
          </div>
        </div>
      </div>
      <script src="js/index.js"></script>
</body>
</html>