
<%- include('../partials/header'); %>


    <div class="top-container">
      <p class="donate">DONATE FOR BRIGHT FUTURE</p>
    </div>
    <div class="main-container">
      <div class="bottom-container">
        <div class="bottom-sec">
          <div class="card">
            <img class="Imge" src="https://api.iconify.design/la/money-bill-wave.svg" alt="cash-img">
          </div>
          <div class="card-content">
            <p class="name">GIVE NOW</p>
            <p class="name">Take action by making a tax-deductible donation to invisible Children</p>
            <a class="btn">MAKE A ONE-TIME DONATION</a>
          </div>
        </div>
        <div class="bottom-sec">
          <div class="card">
            <img class="Imge" src="https://api.iconify.design/simple-line-icons/calender.svg" alt="calender-img">
          </div>
          <div class="card-content">
            <p class="name">GIVE MONTHLY</p>
            <p class="name">Donate to Invisible Children on a monthly basis and become a fourth Estate Member</p>
            <a class="btn">GIVE MONTHLY</a>
          </div>
        </div>
        <div id="bottom-sec3" class="bottom-sec">
          <div class="card">
            <img class="Imge" src="https://api.iconify.design/mdi/bag-personal.svg" alt="bag-img">
          </div>
          <div class="card-content">
            <p class="name">GIVE A SCHOLARSHIP</p>
            <p class="name">Take action by making a tax-deductible donation to invisible Children</p>
            <a class="btn">PROVIDE A SCHOLARSHIP</a>
          </div>
        </div>
      </div>
    </div>
    
    <%- include('../partials/footer'); %>