<%- include('../partials/header'); %>
  <div class="headTitle">
    <h1>WORK WITH US</h1>
  </div>
  <div class="main-container container-joinus">
    <div class="head-topic">
      <p>ADVISOR</p>
    </div>
    <div class="head-topic">
      <p>DONOR</p>
    </div>
    <div class="head-topic">
      <p>VOLUNTEER</p>
    </div>
    <div class="head-topic">
      <p>PARTNER</p>
    </div>
    <div class="head-topic">
      <p>MEMBER</p>
    </div>
  </div>
  <%- include('../partials/footer'); %>
