<%- include('../partials/header-login'); %>
<title>Login</title>
</head>
<body>  
  <div class="topnav" id="myTopnav">
    <a href="/" >Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <div class="dropdown">
      <button class="dropbtn">Donate 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/book">Book Donate</a>
        <a href="/shelter">Shelter Donate</a>
        <a href="/food">Food Donate</a>
        <a href="/clothes">Clothes Donate</a>
      </div>
    </div> 
    <a id="login" href="/login" class="active">Login</a>
    <a id="register" href="/register">Register</a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
  </div>
<div class="form-container">
    <form action="/login" method="post">
      <div class="imgcontainer">
        <h2>Login Form</h2>
        <img src="images/img_avatar2.png" alt="Avatar" class="avatar">
      </div>
      
      <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
      
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" >
      
      <button class="loginbtn" type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
    
    <div class="container" style="background-color:#f1f1f1">
      <a class="cancelbtn" href="/register">Register</a>
      <span class="psw"> <a href="#">Forgot password ?</a></span>
    </div>
    
  </form>
</div>
<%- include('../partials/footer-login'); %>